:root{
    --bg-button: #ddd;
    --bd-button: #3d3c3c;
    --font-button: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*GRID DO BOTÃO*/
.atom-button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.atom-button .capital-letter{
    order: 1;
}
.atom-button .lower-case{
    order: 3;
}
.atom-button .special-character{
    order: 4;
}
.atom-button .vazio{
    order: 2;
}


/*ESTILO DO BOTÂO*/
.atom-button{
    background-color: var(--bg-button);
    border-radius: .4em;
    border: 2px solid var(--bd-button);
    width: 3.5em;
    height: 3.5em;
    padding: .1em;
}
.char-position{
    font-family: var(--font-button);
    font-weight: bold;
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}